{% extends 'layout.html' %}
{% block body_content %}
    <h1> Top-Up your account </h1>
    <form action='/topup' method="POST">
        {{ form.hidden_tag() }}
        <div class='form_group'>
            {{ form.cash }}
            {{ form.cash.data }}
            {% if form.cash.errors %}
                <div class='errors'>
                    {% for error in form.cash.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit }}
    </form>

{% endblock %}